*.c linguist-language=C
*.h linguist-language=C

*.png linguist-generated
*.jpg linguist-generated
*.jpeg linguist-generated
*.gif linguist-generated
*.mp3 linguist-generated
*.mp4 linguist-generated

frames/* linguist-generated

output/* linguist-generated
